page-faq {
    .faq {
        box-shadow: 0.1px 1.1px 0px #d0d0d0;
    }
    .faq_ques {
        font-size: 15px;
        margin: 7px 4px;
    }
    .faq_answer {
        font-size: 14px;
        color: #999;
        margin: 7px 4px;
    }
}
